<h1><%= @task.title %></h1>
<h3>Details:</h3>
<p><%= @task.details %></p>
<p>Task Completed: <%= @task.completed %></p>

<%= link_to "Edit This Task", edit_path(@task)  %>

<%= link_to "Go Back To List", tasks_path %>
